#Para que o GitHub não fique "sujo" com pastas pesadas de bibliotecas
node_modules/
.env
.terraform/
terraform.tfstate*
*.log
# Segredos locais e arquivos gerados
.env
.env.*
!.env.example
!.env.exemplo
coverage/
*.tfvars
!*.tfvars.example
.terraform.lock.hcl.bak
